body
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;

    margin: 0;
    padding: 0;

    color: #fff;
    background-color: #fff;
}
@font-face {
    font-family: 'circle';
    src: url('../fonts/circle.eot');
    src: url('../fonts/circle.eot?#iefix') format('embedded-opentype'),
         url('../fonts/circle.woff') format('woff'),
         url('../fonts/circle.ttf') format('truetype'),
         url('../fonts/circle.svg#circle') format('svg');
    font-weight: normal;
    font-style: normal;
}
a
{
    text-decoration: none;
}
.container
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.user-panel,
.user-navigation-2,
.site-navigation,
.tools-list,
.catalog-list,
.trans-company,
.footer-navigation,
.footer-navigation-2,
.footer-social,
.user-data,
.breadcrumbs,
.div-sort li,
.filter li,
.pagination-list,
.button-cart-modal,
.service-delivery-div li
{
    list-style: none;
}
.price-range,
.div-sort,
.filter-line,
.tools-category-button,
.red-button
{
    border-radius: 3px;
}
.red-button
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 14px;

    display: inline-block;

    margin: 0;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;

    text-align: center;
    vertical-align: middle;

    color: white;
    background-color: #ee3643;
}
.normal-svg
{
    width: 220px;
    min-height: 42px;
    margin: 0 auto;

    text-align: center;

    border-bottom: 5px solid #b52933;
    background-color: #ee3643;

    fill: white;
}
.normal-svg svg
{
    height: 17.4px;
    padding-top: 14px;
    padding-bottom: 8px;
}

.normal-svg:hover
{
    background-color: red;
}

.search:hover .normal-svg
{
    background-color: #ee3643;
}

.normal-svg:active
{
    background-color: #ba2732;
}

.footer-svg
{
    width: 138px ;
    height: 23px ;
    padding-top: 21px;
    padding-right: 42px;
    padding-bottom: 21px;
    padding-left: 42px;

    border-bottom: 5px solid #b52933;
    background-color: #ee3643;

    fill: white;
}

.logo-nav
{
    width: 220px;
    min-height: 47px;
}

.search-div
{
    display: block;

    width: 260px;
    min-height: 42px;
    margin: 0;
    padding: 0;
}

.search::before
{
    position: absolute;
    top: 12px;
    left: 24px;

    width: 17px;
    height: 17px;

    content: '';

    background-image: url(img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-data
{
    display: flex;

    margin: 0;
    padding: 0;
    padding-left: 18px;

    justify-content: left;
}

.first-footer
{
    font-weight: 200;

    display: flex;

    justify-content: space-between;
}

.first-footer div
{
    display: flex;
    flex-direction: column;

    padding-bottom: 50px;
}

.first-footer div:first-child
{
    width: 352px;
}

.first-footer div:last-child
{
    width: 600px;
}

.user-wrapper
{
    display: flex;

    height: 42px;
    margin-bottom: 35px;
}

.user-navigation
{
    background-color: #293449;
}

.user-panel li:nth-child(1),
.user-panel li:nth-child(3)
{
    min-width: 150px;
    min-height: 42px;
    margin: 0;
    padding: 0;
}
.user-panel li:nth-child(2)
{
    min-width: 160px;
    min-height: 42px;
    margin: 0;
    padding: 0;
}

.bookmarks-button
{
    position: relative;

    display: block;

    margin: 0;
    padding: 12px 0 ;
    padding-right: 17px;
    padding-left: 51px;
}

.bookmarks-button::before
{
    position: absolute;
    top: 12px;
    left: 26px;

    width: 17px;
    height: 17px;

    content: '';

    opacity: .3;
    background-image: url(img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.cart-button::before
{
    position: absolute;
    top: 12px;
    left: 26px;

    width: 17px;
    height: 17px;

    content: '';

    opacity: .3;
    background-image: url(img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cart-button
{
    position: relative;

    display: block;

    box-sizing: border-box;
    margin: 0;
    padding: 12px 0 ;
    padding-right: 28px;
    padding-left: 56px;
}
.order-button a
{
    display: block;

    margin: 0;
    padding: 12px 0 ;
    padding-right: 20px;
    padding-left: 20px;
}

.user-panel
{
    display: flex;

    width: 460px;
    margin: 0;
    padding: 0;

    flex-wrap: wrap;
    flex-direction: row;
}

.user-panel a
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-weight: 200;
}

.user-navigation-2 li:nth-child(1)
{
    position: relative;

    display: inline;

    margin: 0;
    margin-right: 10px;
    padding: 0;
    padding-top: 12px;
    padding-right: 26px;
    padding-bottom: 12px;
    padding-left: 48px;

    background-color: white;
}
.user-navigation-2 li:nth-child(1)::before
{
    position: absolute;
    top: 14px;
    left: 15px;

    width: 23px;
    height: 18px;

    content: '';

    background-image: url(img/icon-login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-navigation-2 li:nth-child(2)
{
    display: inline;

    margin: 0;
    padding: 0;
    padding: 12px 25px;

    background-color: white;
}

.main-header
{
    margin: 0;
    padding: 0;
}

.main-header nav
{
   
    padding-bottom: 60px;
}

/* .main-header{
    background-image: -webkit-linear-gradient(top,rgb(41,52,73) 42px,rgb(224,247,249)42px);
    IE10+
    background-image:linear-gradient(to bottom, top,rgb(41,52,73) 42px,rgb(224,247,249)42px);
    background-image:-ms-linear-gradient(top,rgb(41,52,73) 42px,rgb(224,247,249)42px);
} */

.main-header,
.title-catalog,
.service-delivery
{
    background-color: #f3f7f9;
    background-repeat: repeat;
}


.site-navigation
{
    display: flex;

    margin: 0;
    padding: 0;
    padding: 0 28px;

    border-bottom: 5px solid #293449;
    background-color: #32425c;

    justify-content: space-between;
}

.site-navigation a
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 17px;
    font-weight: 200;
    line-height: 17px;

    display: block;

    padding: 0;
    padding: 20px 26px;
    padding-bottom: 19px;

    color: white;
}
.site-navigation li
{
    margin: 0;
}

.user-data a
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-weight: 200;

    display: block;

    margin: 0;
    padding: 0;

    color: #32425c;
}

.user-data li
{
    font-size: 16px;
    line-height: 18px;

    display: block;

    margin: 0;
    padding: 0;

    text-decoration: underline;
}

.user-data li:nth-of-type(1)
{
    padding-right: 30px;
}

.user-data a:hover
{
    text-decoration: underline;

    color: #ee3643;
}

.user-data a:active
{
    text-decoration: underline;

    color: #e7e7e7;
}
.user-name
{
    font-size: 21px;
    font-weight: 200;
    line-height: 21px;

    position: relative;

    padding: 12px 0;
    padding-right: 68px;
    padding-left: 48px;

    color: black;
    background-color: white;
}

.user-name::before
{
    position: absolute;
    top: 14px;
    left: 13px;

    width: 20px;
    height: 20px;

    content: '';

    background-color: white;
    background-image: url(img/icon-user.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-name::after
{
    position: absolute;
    top: 15px;
    right: 11px;

    width: 20px;
    height: 20px;

    content: '';

    background-color: white;
    background-image: url(img/icon-logout.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-cabinet
{
    margin: 0;
    padding: 0;
    padding-top: 8px;
}

.user-cabinet p
{
    padding-bottom: 3px;
}
.user-name:active
{
    text-decoration: none;

    color: rgba(0, 0, 0, .3);;
}


.breadcrumbs a
{
    font-family: 'PT Sans ', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 200;
    line-height: 18px;

    color: #000;
}

.main div:first-child
{
    height: 60px;
    margin: 0;
    padding: 0;
}

.breadcrumbs
{
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
}

.breadcrumbs li
{
    display: block;

    margin: 0;
    padding: 20px 0;
}
.breadcrumbs li:nth-child(2),
.breadcrumbs li:nth-child(3),
.breadcrumbs li:nth-child(4)
{
    position: relative;

    padding-left: 40px;
}
.breadcrumbs li:nth-child(2)::before,
.breadcrumbs li:nth-child(3)::before,
.breadcrumbs li:nth-child(4)::before
{
    position: absolute;
    top: 23px;
    left: 14px;

    width: 7px;
    height: 13px;

    content: '';

    background-image: url(img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}


.filters-left ul
{
    display: flex;

    margin: 0;
    padding: 0;
}
.filters-left li
{
    display: block;

    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}
.filter-flex
{
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}
.submit-filter
{
    border: 1px solid #e5e5e5;
    background-color: white;
}

.catalog
{
    width: 700px;
    margin: 0;
    padding: 0;
}

.catalog-index
{
    width: 940px;
    height: 319px;
    margin: 0;
    padding: 0;
}

.title-catalog
{
    margin-bottom: 20px;
}
.title-catalog h1
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 30px;

    margin: 0;
    padding: 29px;

    text-align: left;

    color: #32425c;
}

.div-sort li
{
    display: block;

    margin: 0;
    padding: 0;
}
.div-sort p
{
    display: block;

    margin: 0;
    margin-right: 140px;
    margin-left: 19px;
    padding: 0;
    padding: 10px 0;
}
.up
{
    margin: 0;
    padding: 0;
    padding: 10px 0;
}

.filter
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-weight: 200;

    width: 220px;
    /* Временно для сетки */
    min-height: 748px;
}

.filter-catalog
{
    display: flex;
    flex-direction: row;

    height: auto;
    margin-bottom: 59px;

    justify-content: space-between;
}

.catalog-item
{
    font-weight: bold;
    line-height: 20px;

    position: relative;

    display: inline-block;

    width: 219px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    text-align: center;
}


.catalog-brand .catalog-item
{
    display: flex;

    height: 142px;

    justify-content: center;
}
.catalog-brand
{
    margin-bottom: 65px;
}
.catalog-item:nth-child(3n)
{
    margin-right: 0;
}

.catalog-list
{
    display: flex;

    margin: 0;
    margin-bottom: 36px;
    padding: 0;

    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item-image
{
    width: 218px;
    height: 165px;
    margin-bottom: 11px;
    background-color: #e4e3e8;
}

.catalog-item-image img
{
    max-width: 100%;
}
.flag
{
    position: absolute;
    z-index: 20;
    top: -1px;
    right: -1px;

    overflow: hidden;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
}
.flag-materials
{
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;

    overflow: hidden;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
}
.flag-new
{
    background: url('img/new-flag.png') no-repeat 0 0;
}

.pagination-list
{
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
}

.pagination-list li
{
    display: block;

    margin: 0;
    padding: 0;
    padding-right: 10px;
}

.filter fieldset
{
    margin: 0;
    padding: 0;

    border: none;
}
.tools
{
    margin-top: 59px;
    margin-bottom: 33px;
    
}
.tools-list
{
    display: flex;

    margin: 0;
    padding: 0;
    /* margin-top: 59px; */

    flex-wrap: wrap;
    justify-content:space-between;
   
}
/* .tools-list:nth-child(2){
    justify-content: flex-end;
} */

.tools-item
{
    position: relative;

    width: 139px;
    height: 123px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-right: 140px;
    padding-left: 21px;
}

.tools-item:first-child
{
    background-color: #ffbf47;
}

.tools-item:nth-child(2)
{
    background-color: #3bbce3;
}

.tools-item:nth-child(3)
{
    background-color: #dc91d8;
}
.after-slider .tools-item:first-child
{
    background-color: #8ed78f;
}
.after-slider .tools-item:last-child
{
    background-color: #ffbf47;
}

.tools-category
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;

    margin: 0;
    padding: 0;

    color: white;
}
.tools-item h4
{
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 11px;
}

.tools-category-text.icon-1,
.tools-category-text.icon-2,
.tools-category-text.icon-3,
.tools-category-text.icon-4,
.tools-category-text.icon-5
{
    position: relative;
}

.tools-category-text.icon-1::after
{
    position: absolute;
    top: -31px;
    left: 189px;

    width: 46px;
    height: 65px;

    content: '';

    background-image: url(img/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.tools-category-text.icon-2::after
{
    position: absolute;
    top: -29px;
    left: 173px;

    width: 76px;
    height: 61px;

    content: '';

    background-image: url(img/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.tools-category-text.icon-3::after
{
    position: absolute;
    top: -30px;
    left: 167px;

    width: 78px;
    height: 64px;

    content: '';

    background-image: url(img/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.tools-category-text.icon-4::after
{
    position: absolute;
    top: -36px;
    left: 171px;

    width: 62px;
    height: 74px;

    content: '';

    background-image: url(img/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.tools-category-text.icon-5::after
{
    position: absolute;
    top: -30px;
    left: 167px;

    width: 78px;
    height: 65px;

    content: '';

    background-image: url(img/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.tools-category-button
{
    display: inline-block;

    width: 135px;
    margin: 0;
    margin-left: 3px;
    padding: 0;

    text-align: center;

    background-color: rgba(0, 0, 0, .1);
}
.tools-category-text
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;

    display: block;

    margin: 0;
    padding: 0;
    padding: 11px 22px;

    text-align: center;

    color: white;
}

.tools-category-button:hover
{
    background-color: rgba(0, 0, 0, .2);
}

.tools-category-button:active
{
    background-color: rgba(0, 0, 0, .3);
}

.slider-title-text
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 37px;
    font-weight: 500;
    line-height: 35px;

    margin: 0;
    padding: 0;
    padding-top: 23px;
    padding-bottom: 2px;
    padding-left: 23px;

    color: white;
}

.slider-title-text-p
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;

    margin: 0;
    padding: 0;
    padding-left: 24px;

    color: white;
}

.slider-title
{
    position: absolute;

    margin: 0;
    padding: 0;
}
.slide
{
    position: absolute;
    top: 0;
    left: 0;

    width: 621px;
    height: 266px;
    z-index: auto;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

    background-color: #7d6a5a;
}
.slider{
    position: relative;
}

.after-slider
{
    width: 300px;
    
}

.button-slider:hover{
    background-color: #ca2c37;
}
.button-slider:active{
    background-color: #ba2732;
}
.popular
{
    display: flex;

    margin-bottom: 19px;
    padding-right: 24px;
    padding-left: 28px;

    background-color: #f9f5f0;

    justify-content: space-between;
}

.popular-title
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 30px;

    color: #32425c;
}
.about-size
{
    font-weight: 200;

    width: 400px;
    margin-bottom: 43px;
}
.section-about
{
    width: 517px;
}
.service-delivery p,
.contacts p,
.section-about p,
.delivery p
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 13px;
    font-weight: 200;
    line-height: 24px;

    margin: 0;
    padding: 0;
    padding-bottom: 25px;

    letter-spacing: .05px;

    color: black;
}
.contacts p:first-of-type
{
    width: 181px;
}
.section-about p
{
    padding-bottom: 22px;
}
.trans-company li::before
{
    position: absolute;
    top: 8px;
    left: 0;

    width: 25px;
    height: 2px;

    content: '';

    background-image: url(img/red-line.png);
}
.about-technomart
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 30px;

    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    color: black;
}

.delivery p
{
    margin: 0;
    padding: 0;
}
.delivery-title
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 35px;
    font-weight: 200;
    line-height: 36px;

    margin: 0;
    padding: 0;
    padding-bottom: 24px;

    letter-spacing: 1px;

    color: #32425c;
}

.index-columns
{
    display: flex;

    padding-top: 80px;
    padding-bottom: 85px;

    justify-content: space-between;
}

.trans-company
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 18px;
    line-height: 20px;

    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    color: black;
}

.trans-company li
{
    position: relative;

    margin: 0;
    padding-bottom: 20px;
    padding-left: 36px;
}

.div-map
{
    padding-top: 6px;
    padding-bottom: 38px;

}
.map{
    background-color: #eeeae3;
}

.service-delivery
{
    padding-top: 67px;

    background-color: #f4f8fa;
}
.s-d-c
{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}


.service-delivery-div
{
    width: 240px;
    height: 188px;
    margin: 0;
    padding: 0;
    padding-bottom: 78px;
}
.service-delivery-div-2
{
    width: 285px;
    padding-right: 335px;
    padding-bottom: 104px;
}
 .delivery
{
    background-image: url(img/car.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: 25px;
    /* display: none; */
}
 .warranty
{
    
    display: none;

    background-image: url(img/medal.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: 25px;
}
 .credit
{
    display: none;



    background-image: url(img/credit.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: 25px;
}
/* .show-slide{
   visibility: visible;
} */
.send-button
{
    padding-right: 45px;
    padding-left: 45px;
}
.service-delivery-div-2:nth-child(3) p
{
    margin-bottom: 31px;
}

.section-service-buttons
{
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}
.section-service-buttons li
{
    margin: 0;
    padding: 0;
}
.button-sdc
{
    font-size: 21px;
    line-height: 30px;

    width: 240px;
    padding: 15.4px 23px;

    text-align: left;
    letter-spacing: .5px;

    color: white;
    border: none;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    background-color: #32425c;
}
.first
{
    border-top: none;
}
.button-sdc:hover
{
    color: white;
    background-color: #293449;
}
.button-sdc:active,
.current
{
    color: #32425c;
    background-color: white;
}

.div-sort,
.filter-line
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 13px;
    line-height: 17px;

    color: #000;
}
.div-sort
{
    display: flex;

    margin: 0;
    margin-bottom: 22px;
    padding: 0;
}
.filter-line
{
    margin: 0;
    padding: 10px 18px;
}

.range
{
    margin: 0;
    padding: 20px 20px;

    border-radius: 0 0 3px 3px;
    width: 180px;
}
.range,
.price-range,
.div-sort,
.filter-line
{
    background-color: #f7f3ec;
}


.price-range
{
    width: 95px;
    height: 38px;

    text-align: center;

    border: none;
    margin: 17px 0;
}
.price-row
{
    display: flex;

    margin: 0;
    padding: 0;
    padding-bottom: 7px;

    justify-content: space-between;
}

.div-sort a
{
    color: #b2b2b2;
}

.form
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 15px;
    line-height: 20px;

    margin: 0;
    padding: 0;

    color: black;
}
.form-first
{
    border-bottom: 1px solid #e5e5e5;
}
.sort-panel
{
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;

    justify-content: space-between;
}
.sort-panel li
{
    display: block;

    margin: 0;
    padding: 0;
    padding: 10px 0;
}
.arrow
{
    display: block;

    margin: 0;
    padding: 0;
}
.sort-panel li:nth-child(2)
{
    padding-left: 71px;
}
.sort-panel li:nth-child(3)
{
    padding-right: 46px;
    padding-left: 64px;
}


.sort-panel a
{
    border-bottom: dotted 1px  #ee3643 ;
}

.sort-panel a:hover
{
    border-bottom: 1px solid #ee3643 ;
}

.sort-panel a:active
{
    color: #ee3643 ;
}
.sort-panel .sort-panel-current
{
    color: #ee3643;
    border: none;
}

form button
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;

    border: 1px solid #e5e5e5;
}
.filter legend
{
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;

    display: block;

    padding: 14px 0;

    color: #000;
}

.catalog-list li
{
    border: 1px solid #e5e5e5;
}
.catalog-list li:hover
{
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
}

.catalog-category
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    

    margin: 0;
    padding: 0 31px;

    color: #000;
}

.old-price
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;

    text-decoration: line-through;

    color: #999;
    margin: 0;
   
    padding-top: 10px;
}

.button-price
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 17px;
   
    vertical-align: middle;

    position: relative;

    width: 80px;
    margin: 11px auto;
    margin-left: 42px;
    margin-bottom: 20px;
    padding: 9px 30px;
    
    color: white;
    background: #ee3643;
    border-radius: 3px;
}
.one-price
{
    margin-top: 40px;
}

.button-price:after
{
    position: absolute;
    top: 0;
    right: -20px;

    width: 0;
    height: 0;

    content: '';

    border: 19px solid white;
    border-left-color: #ee3643;
}

.catalog-item .actions
{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    width: 218px;
    height: 88px;
    padding: 40px 0;

    background-color: rgba(255,255,255,.9);
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark
{
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;

    display: block;

    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;

    text-decoration: none;
    text-transform: uppercase;

    color: white;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius: 3px;
    background-color: #63a63e;
}
.catalog-item .actions .bookmark
{
    color: #32425c;
    border-bottom-color: #63a63e;
    background: white;
}
.catalog-item .actions
{
    display: none;
}

.catalog-item:hover .actions
{
    display: block;
}

.button-buy
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;

    color: white;
    border-bottom: 1px solid #367315;
    background-color: #63a63e;
}

.button-buy:hover
{
    background-color: #5fbb2d;
}
.button-buy:active
{
    background-color: #518534;
}

.button-save:hover
{
    border: 2px solid #32425c;
}

.button-save:active
{
    color: #d0d2d6;
    border: 2px solid #c1c6ce;
}

.button-save
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;

    color: #32425c;
    border: 2px solid #63a63e;
    background-color: white;
}

.user-navigation a,
.site-navigation a,
.search,
.footer-navigation a
{
    color: white;
}

.visualy-hidden
{
    display: none;
}
nav
{
    margin: 0;
    padding: 0;
}
.user-panel a,
.search
{
    font-size: 17px;
    line-height: 18px;
}
.search
{
    position: relative;

    width: 200px;
    height: 42px;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    padding-left: 46px;

    color: white;
    border: none;
    background: none;
    background-color: transparent;
}

.user-navigation a,
.site-navigation a,
.footer-navigation a
{
    text-align: center;
    vertical-align: middle;

    border: none;
}

.info-nav-title
{
    display: flex;

    min-height: 71px;
    margin-bottom: 39px;

    justify-content: space-between;
}

.info-nav-title h1
{
    font-size: 16px;
    font-weight: 200;
    font-style: italic;
    line-height: 23px;

    margin: 0;
    padding: 0;

    color: #ee3643;
}

.info-nav-title div:first-child
{
    display: block;

    width: 220px;
    margin: 0;
    padding: 0;
    padding-top: 13px;
    padding-right: 0;
    padding-left: 51px;
}

.contact-nav
{
    display: block;

    margin: 0;
    padding: 0;
    padding-top: 11px;
    padding-right: 39px;
    padding-left: 20px;
}
.contact-nav p
{
    margin: 0;
    padding: 0;
}

.contact-nav .addres-nav
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;

    margin-top: 3px;

    text-align: center;

    color: #32425c;
}

.login-register
{
    margin: 0;
    padding: 0;
}
.order-button
{
    height: auto;

    background-color: #5fbb2d;
}

.order-button:active
{
    color: #b6c8ae;
    background-color: #518534;
}

.user-panel a:active
{
    color: #a2a4a6;
}


.search:active
{
    color: #e0e1e3;
}

.button-call
{
    font: inherit;
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 21px;
    font-weight: 200;
    line-height: 21px;

    position: relative;

    display: block;

    height: 23px;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-right: 47px;
    padding-bottom: 8px;
    padding-left: 69px;

    text-align: center;

    color: #ee3643;
    border: 3px solid white;
}
.button-call::before
{
    position: absolute;
    top: 11px;
    left: 13px;

    width: 19px;
    height: 19px;

    content: '';

    background-image: url(img/icon-phone.svg);
    background-repeat: no-repeat;
}

.cart-button-red
{
    background-color: #ee3643;
}

.user-navigation-2
{
    display: flex;

    min-width: 283px;
    margin: 0;
    padding: 0;
    padding-top: 10px;

    justify-content: space-between;
}
.user-cabinet
{
    width: 300px;
}

.login-button
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 21px;
    font-weight: 200;
    line-height: 21px;

    position: relative;

    display: block;

    color: black;
}

.login-button:hover
{
    color: #ee3643;
}
.login-button:active
{
    color: #e7e7e7;
}

.site-navigation li:hover
{
    background-color: #293449;
}

.site-navigation a:active
{
    color: #84888e;
    background-color: #1d2739;
}


.contacts p:last-child
{
    margin-bottom: 0;
    padding-bottom: 0;
}
.trans-company-button
{
    padding-right: 40px;
    padding-left: 40px;
}
.contacts-button
{
    padding-right: 59px;
    padding-left: 64px;
}
.brand-image
{
    display: block;

    margin: auto auto;

}
.brand-image img{
    background-color: #e4e3e8;
}

.popular-button
{
    display: inline-block;

    margin-top: 25px;
    padding-right: 55px;
    padding-left: 55px;
}
.popular-button-2
{
    display: inline-block;

    margin-top: 23px;
    padding-right: 70px;
    padding-left: 68px;
}

.popular-button-2
{
    padding-right: 70px;
    padding-left: 70px;
}

.catalog-item-image:active
{
    opacity: .3;
}

.button-slider
{
    position: absolute;
    top: 207px;
    left: 25px;

    width: 195px;
   
    z-index: auto;

    /* padding-right: 45px;
    padding-left: 49px; */
}
.prev{
    position: absolute;
    top: 114px;
    left: 25px;

    width: 22px;
    height: 40px;
    z-index: auto;    
}
.prev::before
{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 22px;
    height: 40px;

    content: '';

    background-image: url(img/icon-left.svg);;
}
.next{
    position: absolute;
    top: 114px;
    left: 578px;

    width: 22px;
    height: 40px; 
    z-index: auto;      
}
.next::before
{
    position: absolute;
    top: 0px;
    right: 0px;

    width: 22px;
    height: 40px;
   

    content: '';

    background-image: url(img/icon-right.svg);;
}
.dot-next{
    position: absolute;
    top: 219px;
    left: 293px;
    color: white;
    z-index: auto;

    width: 11px;
    height: 11px; 
    
    display: inline-block;
    font-family: 'circle';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 11px;
   
 }

.dot-prev{
    position: absolute;
    top: 219px;
    right: 295px;
    color: white;
    z-index: auto;

    width: 11px;
    height: 11px;  
    
    display: inline-block;
    font-family: 'circle';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 } 


.button-slider-text
{
    display: block;

    padding-right: 45px;
    padding-left: 49px;
}
.button-slider-text:hover
{
    background-color: #ca2c37;
}
.button-slider-text:active
{
    background-color: #ba2732;
}
.catalog-index
{
    margin-bottom: 20px;
}

.pagination-list a
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 13px;
    line-height: 13px;

    display: inline-block;

    padding: 12px 15px;

    color: black;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: white;
}
.pagination-item-current a
{
    color: white;
    background-color: #ee3643;
}
.pagination-item-next a
{
    padding-right: 29px;
    padding-left: 29px;
}

.pagination-list a:hover
{
    border: 1px solid #bdc6ca;
}

.pagination-list a:active
{
    border: 1px solid #ee3643;
}

.about-drill h1
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 30px;

    margin: 0;
    margin-bottom: 26px;
    padding: 0;

    letter-spacing: .2px;

    color: black;
}

.about-drill p
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 13px;
    font-weight: 200;
    line-height: 24px;

    margin: 0;
    padding: 0;

    letter-spacing: .1px;

    color: black;
}

.about-drill
{
    padding-top: 66px;
    padding-bottom: 68px;

    background-color: #f3f7f9;
    background-repeat: repeat;
}

.first-footer-wrapper
{
    color: white;
    background-color: #32425c;
}

.footer-navigation-2 a
{
    font-family: 'Cuprum','Arial', sans-serif;

    display: block;

    color: #ffd180;
}
.footer-navigation-2 a:nth-child(4)
{
    padding-right: 0;
}

.footer-feedback,
.footer-developed
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 16px;
    line-height: 18px;

    color: #ffd180;
}

.footer-nav a:hover,
.footer-feedback:hover,
.footer-developed:hover
{
    border-bottom: 1px solid white;
}

.footer-feedback:active,
.footer-developed:active
{
    border-bottom:none;

    color: #d13644;
}

.footer-nav li:active
{
    text-decoration: none !important;
}

.second-footer
{
    display: flex;

    color: white;

    justify-content: space-between;
}

.second-footer-wrapper
{
    background-color: #293449;
}

.footer-copyright
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 18px;

    width: 227px;
    margin: 0;
    padding: 0;
    padding-top: 35px;

    text-align: left;
}
.develope
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 16px;

    padding: 20px 0;
}
.devel-2
{
    margin-right: 1px;
}
.develope p:nth-of-type(1)
{
    margin-bottom: 0;
    padding-bottom: 0;
}
.develope p:nth-of-type(2)
{
    margin-top: 5px;
    padding-top: 0;
}
.footer-contacts,
.footer-navigation a
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 19px;

    text-align: left;

    color: white;
}
.footer-contacts
{
    margin: 0;
    margin-top: 26px;
    padding: 0;
    padding-left: 2px;
}

.footer-navigation
{
    display: flex;

    width: 550px;
    margin: 0;
    padding: 0;
    padding-left: 52px;
}

.footer-navigation-2
{
    display: flex;

    width: 550px;
    margin: 0;
    padding: 0;
      margin-top: 39px;
   margin-bottom: 30px;
    margin-left: 76px;
}
.footer-navigation-2 li:not(:last-child){
    padding-right: 58px;
}
.footer-navigation a
{
    display: block;
}
.footer-navigation li:not(:last-child)
{
    margin: 0;
    margin-right: 60px;
    padding: 0;
}
.footer-nav
{
    margin: 0;
    padding: 0;
    padding-top: 39px;
}
.social
{
    width: 130px;
    margin: 0;
    margin-right: 69px;
    margin-left: 104px;
    padding: 0;
}

.footer-navigation-2 a:active
{
    color: #766d65;
}

.footer-navigation a:active
{
    color: #9ea5af;
}

.social-button li
{
    color: #212a3a;
}

.footer-social
{
    display: flex;

    margin: 0;
    padding: 0;
    padding-top: 34px;

    justify-content: space-between;
}

.footer-social li
{
    display: block;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: #212a3a;
}
.vk-button
{
    position: relative;
    top: 12.5px;
    left: 7px;

    display: block;

    width: 25px;
    height: 25px;
}
.facebook-button
{
    position: relative;
    top: 9px;
    left: 14px;

    width: 22px;
    height: 22px;
}
.instagram-button
{
    position: relative;
    top: 9.5px;
    left: 9.5px;

    width: 21px;
    height: 21px;
}

.footer-social li:hover,
.footer-social li:active
{
    background-color: #ee3643;
}
/* Всплывающая форма */

.modal
{
    position: fixed;

    color: #000;
    background-color: #fff;
    background-repeat: repeat;
    background-position: 0 0;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .75);
}
.modal-login section
{
    padding-top: 46px;
    padding-right: 80px;
    padding-bottom: 37px;
    padding-left: 80px;
}
.div-button-index
{
    margin: 0;
    padding: 0;
    padding: 37px 80px;

    background-image: url(img/bg-modal.png);
    background-repeat: no-repeat;
}

.modal-login
{
    top: 60px;
    left: 50%;

    display: none;

    width: 620px;
    margin-left: -310px;

    border-top: 8px solid #ff5357;
}

/* Animation modal */
@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }
  .modal-error {
    animation: shake 0.6s;
  }
.modal-close
{
    font-size: 0;

    position: absolute;
    top: 9px;
    right: 9px;

    width: 22px;
    height: 22px;

    cursor: pointer;

    border: 0;
    background: transparent;
}

.modal-close::before,
.modal-close::after
{
    position: absolute;
    top: 8px;
    left: -1px;

    width: 26px;
    height: 3px;

    content: '';

    background-color: #ee3643;
}
.modal-close::before
{
    transform: rotate(45deg);
}

.modal-close::after
{
    transform: rotate(-45deg);
}
.form-message p
{
    margin: 0;
    padding: 0;
}

.form-message input[type='text'],
.form-message input[type='email'],
.form-message textarea
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 13px;
    font-weight: 200;
    line-height: 18px;

    box-sizing: border-box;
    margin-top: 11px;
    padding: 8px 14px;
    padding-right: 40px;

    color: #c3c3c3;
    border: 2px solid #dee3e4;
    border-radius: 3px;
}
.form-message textarea
{
    width: 460px;

    resize: none;
}
.form-message input[type='text'],
.form-message input[type='email']
{
    width: 220px;
}
.form-message div
{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: space-between;
}

.form-message div p
{
    display: block;

    width: 220px;
}

.form-message section div
{
    padding-bottom: 22px;
}


.form-message label
{
    margin-bottom: 12px;
}
.button-modal
{
    width: 460px;
}
.modal-map
{
    top: 50%;
    left: 50%;

    display: none;

    width: 940px;
    height: 450px;
    margin-top: -280px;
    margin-left: -470px;

    background-color: #565656;
}
.modal-map p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  
    margin: 0;
  }
.modal-cart
{
    top: 134px;
    left: 50%;

    display: none;

    width: 620px;
    margin-left: -305px;

    border-top: 8px solid #ff5357;
}
.modal-cart svg
{
    width: 70px;
    height: 76px;;
}
.modal-cart div
{
    font-size: 30px;
    font-weight: 200;
    line-height: 30px;

    position: relative;

    margin: 0;
    padding: 0;
    padding-top: 47px;
    padding-right: 80px;
    padding-bottom: 74px;
    padding-left: 178px;
}
.modal-cart div::before
{
    position: absolute;
    top: 28px;
    left: 80px;

    width: 66px;
    height: 66px;

    content: '';

    background-image: url(img/form-1.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.modal-cart ul
{
    display: flex;

    margin: 0;
    padding: 0;
    padding: 30px 80px;

    list-style: none;

    background-color: #f1f1f1;

    justify-content: space-between;
}

.modal-cart p
{
    margin: 0;
    padding: 0;
}
.button-cart-modal
{
    margin: 0;
    padding: 0;
    padding-top: 13px;
    padding-bottom: 13px;

    text-align: center;
    vertical-align: middle;

    color: black;
    border: none;
    border-radius: 3px;
}
.modal-cart li,
.button-cart-modal
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;

    display: inline-block;

    width: 220px;
}
.modal-cart a
{
    color: white;
}
.modal-map iframe {
    position: relative;
    z-index: 2;
  
    border: none;
  }
.modal-show {
    display: block;

    animation: bounce 0.6s;
  }