body
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;

    margin: 0;
    padding: 0;

    color: #fff;
    background-color: #fff;
}

a
{
    text-decoration: none;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
  

.user-panel,
.user-navigation-2,
.site-navigation,
.tools-list,
.catalog-list,
.trans-company,
.footer-navigation,
.footer-navigation-2,
.footer-social,
.user-data,
.breadcrumbs,
.div-sort li,
.filter li,
.pagination-list,
.button-cart-modal,
.service-delivery-div li
{
    list-style: none;
}
.price-range,
.div-sort,
.filter-line,
.tools-category-button,
.red-button
{
    border-radius: 3px; 
}
.red-button
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 200;

    text-align: center;
    vertical-align: middle;

    color: white;
    background-color: #ee3643;

    margin: 0;
    padding: 0;
    padding-top:12px;
    padding-bottom:12px;
    display: inline-block;
}
.normal-svg{
    fill: white;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
    width: 220px;
    height: 42px;
    text-align: center;
    margin: 0 auto;
    
   
}
.normal-svg svg{
  padding-bottom: 12px;
  padding-top: 12px; 
  height: 18px;
}

.normal-svg:hover {
    background-color: red;}

.search:hover .normal-svg{
    background-color: #ee3643;}

.normal-svg:active {
    background-color: #ba2732;}

.footer-svg{
    fill: white;
    background-color: #ee3643;
padding-left: 42px;
padding-right: 42px;
padding-top:21px;
padding-bottom: 21px;
border-bottom: 5px solid #b52933;
width: 138px ;
height:23px ;
}

.navigation-logo{
    width: 220px;
    height: 47px;  
}

.search-div{
    margin: 0;
    padding: 0;
    display: block;
    width: 260px;
}


.search::before{
    content: "";
    width: 17px;
    height: 17px;

    position: absolute;
    top: 12px;
    left: 24px;

  
    background-image: url(img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;


}

 .user-data{
    
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: left;
    padding-left: 18px;
    
}


.first-footer{
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    
}

  .first-footer div{
      display: flex;
      flex-direction: column;
      padding-bottom: 50px;
      
  }

  .first-footer div:first-child{
      width: 352px;
      
  }

  .first-footer div:last-child{
    width: 600px;
    
}

.user-wrapper{
  
     display: flex;
margin-bottom: 35px;
    height: 42px;
}
.user-wrapper div:nth-child(3){
    width: 460px;
}

.user-navigation{
    background-color: #293449;
    
}

.user-panel li{
    margin: 0;
    padding: 0;
 }
.user-panel li:nth-child(1),
.user-panel li:nth-child(3){
   margin: 0;
   padding: 0;
  
   width: 150px;
   height: 42px;
}
.user-panel li:nth-child(2){
    margin: 0;
    padding: 0;
    width: 160px;
    height: 42px;
 }
 


.bookmarks-button{
    margin: 0;
    padding: 0;
    display: block;
    padding: 12px 0 ;
    padding-left: 51px;
    padding-right: 17px;
    
    position: relative;
 }

.bookmarks-button::before{
    content: "";
    width: 17px;
    height: 17px;

    position: absolute;
    top: 12px;
    left: 26px;

  
    background-image: url(img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;


  opacity: 0.3; 
   
 } 
.cart-button::before{
    content: "";
    width: 17px;
    height: 17px;

    position: absolute;
    top: 12px;
    left: 26px;

  
    background-image: url(img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0; 
  opacity: 0.3; 
   
} 

 .cart-button{
    margin: 0;
    padding: 0;
    display: block;
    padding: 12px 0 ;
     padding-left:56px;
     padding-right: 30px;
     box-sizing: border-box;
     position: relative;
  }
  .order-button a{
    margin: 0;
    padding: 0;
    display: block;
    padding: 12px 0 ;
     padding-left: 20px;
     padding-right: 20px;
    
  }

.user-panel{
    margin: 0;
    padding: 0;
    display: flex;
   
flex-wrap: wrap;
width: 460px;
}

.user-panel a
{
    font-family: 'Cuprum','Arial', sans-serif;

    color: white;
    font-weight: 200;
    font-size: 21px;
    line-height: 21px;
}

  .user-navigation-2 li:nth-child(1){
      margin: 0;
      padding: 0;

      display: inline;
      background-color: white;

      margin-right: 10px;

      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 48px;
      padding-right: 26px;
      position: relative;
  } 
  .user-navigation-2 li:nth-child(1)::before{
    content: "";
    width: 23px;
    height: 18px;

    position: absolute;
    top: 14px;
    left: 15px;

  
    background-image: url(img/icon-login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
 }  
  .user-navigation-2 li:nth-child(2){
    margin: 0;
    padding: 0;
    
    display: inline;
    background-color: white;

    padding:12px 25px;
}  

.main-header{
    margin: 0;
    padding: 0;
}

  .main-header nav{
      width:auto;
   padding-bottom: 60px;
  }
 
/* .main-header{
    background-image: -webkit-linear-gradient(top,rgb(41,52,73) 42px,rgb(224,247,249)42px);
    IE10+
    background-image:linear-gradient(to bottom, top,rgb(41,52,73) 42px,rgb(224,247,249)42px);
    background-image:-ms-linear-gradient(top,rgb(41,52,73) 42px,rgb(224,247,249)42px);
} */

.main-header,
.title-catalog,
.service-delivery{
    background-color:#f3f7f9;
background-repeat: repeat;

}


.site-navigation
{
    margin: 0;
    padding: 0;
    background-color: #32425c;
   
    border-bottom: 5px solid #293449;
    display: flex;
    justify-content: space-between;

 padding:0 28px;
}

.site-navigation a{
    display: block;
    padding: 0;
    padding: 20px 26px;
    padding-bottom: 19px;
    font-family: 'Cuprum','Arial', sans-serif;

    color: white;
    font-weight: 200;
    font-size: 17px;
    line-height: 17px;
}
.site-navigation li{
    margin: 0;
}


.user-data a
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-weight: 200;


    color: #32425c;
    display: block;

    margin: 0;
    padding: 0;
}

.user-data li
{
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 18px;

    text-decoration: underline;

    display: block; 
}

.user-data li:nth-of-type(1){
    padding-right: 30px;
}

.user-data a:hover
{
    color: #ee3643;
    text-decoration: underline;
}

.user-data a:active
{
    color: #e7e7e7;
    text-decoration: underline;
}
.user-name{
    font-size: 21px;
    line-height: 21px;
    color: black;
    font-weight: 200;

    background-color: white;

   
    padding: 12px 0;
    padding-left: 48px;
    padding-right: 68px;
    position: relative;
    
}

.user-name::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color:white;
    position: absolute;
    top: 14px;
    left: 13px;
    background-image: url(img/icon-user.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    
}
.user-name::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 11px;
    background-image: url(img/icon-logout.svg);
    background-repeat: no-repeat;
    background-position: 0 0;  
}
.user-cabinet{
    margin: 0;
    padding: 0;
padding-top: 8px;
}

.user-cabinet p{
    padding-bottom: 3px;
}
.user-name:active
{
    color: rgba(0, 0, 0, 0.3);;
    text-decoration:none;
}


.breadcrumbs a
{
    font-family: "PT Sans ", "Arial", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 200;

    color: #000;
}

.main div:first-child{
    margin: 0;
    padding: 0;
    height: 60px;
}

.breadcrumbs {
    padding: 0;
    margin: 0;
  
    display: flex;
    flex-direction: row;
  }

  .breadcrumbs li{
    padding: 20px 0;
    margin: 0;
      display: block;
      
      
  }
  .breadcrumbs li:nth-child(2),
  .breadcrumbs li:nth-child(3),
  .breadcrumbs li:nth-child(4){
    padding-left: 40px;
    position: relative;
  }
  .breadcrumbs li:nth-child(2)::before,
  .breadcrumbs li:nth-child(3)::before,
  .breadcrumbs li:nth-child(4)::before{
    content: "";
    width: 7px;
    height: 13px;

    position: absolute;
    top: 5px;
    left: 17px;

  
    background-image: url(img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

/* 
  opacity: 0.3;  */
   
  }
 
  .filter-catalog{
    font-weight: 200;
}
.filters-left ul{
    padding: 0;
    margin: 0;
    display: flex;
 
}
.filters-left li{
    padding: 0;
    margin: 0;
    display: block;
 margin-bottom: 10px;
}
.filter-flex{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.submit-filter{
    background-color: white;
    border: 1px solid #e5e5e5;
}

  .catalog{
      width: 700px;
      
      margin:0px;
      padding: 0;
  }

  .catalog-index{
    width: 940px;
    height: 319px;
    margin:0px;
    padding: 0;
  }

  .title-catalog {
    margin-bottom: 20px;
  }
  .title-catalog h1
{
    margin: 0;
    padding: 0;
    padding: 29px;

    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 200;

    text-align: left;

    color: #32425c;
}

  .div-sort li{
    padding: 0;
    margin: 0;
display: block;

  }
  .div-sort p{
    padding: 0;
    margin: 0;
display: block;
padding: 10px 0;
margin-right: 140px;
margin-left: 19px;
  }
  .up{
padding: 0;
margin: 0;
padding: 10px 0;
  }

  .filter{
    width: 220px;

    font-family: 'PT Sans','Arial', sans-serif;
    font-weight: 200;

    /* Временно для сетки */
    min-height: 748px;
   
  }

  .filter-catalog{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 55px;
      height: auto;
   
  }

  .catalog-item {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 219px;
    margin-bottom: 20px;
    position: relative;
    
    line-height: 20px;
  font-weight: bold;
  text-align: center;
  
  }
  .catalog-item h3{
      margin: 0;
      padding: 0;
      padding: 0 31px;
  }
  .one-price{
      padding-top: 30px;
  }
.catalog-brand .catalog-item{
    height: 142px;
    display: flex;
    justify-content: center;
}
.catalog-brand{
    margin-bottom: 65px;
}
  .catalog-item:nth-child(3n) {
    margin-right: 0;
  }

  .catalog-list {
    padding: 0;
    margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 26px;
 
  }
 
  .catalog-item-image{
    width: 218px;
    height: 168px;
  margin-bottom: 11px;
  }
 
  
  .catalog-item-image img {
    max-width: 100%;
  }
  .catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    
    width: 60px;
    height: 60px;
    
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
  }

  .catalog-item .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}
 

  .pagination-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  .pagination-list li{
    display: block;

   

    padding: 0;
    margin: 0;
    padding-right: 10px;

  }

  

.filter fieldset,
.div-filter fieldset
{
    border: none;
    margin: 0;
    padding:0;
}

.tools-list{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 59px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 34px;
}
.tools-list div{
margin: 0;
padding: 0;

padding-left: 21px;
padding-right: 140px;
}

.tools-item{
    margin: 0;
    padding: 0;
    width: 300px;
    height: 123px;
    margin-bottom: 20px;
}
.slideshow-container div{
    margin: 0;
    padding: 0;
}

.tools-item:first-child,
.tools-item:last-child{
    background-color: #ffbf47;
}

.tools-item:nth-child(2){
    background-color: #3bbce3;
}

.tools-item:nth-child(3){
    background-color: #dc91d8;
}
.tools-item:nth-child(5){
    background-color: #8ed78f;
    
}

.tools-category{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 24px;
    line-height: 30px;
font-weight: bold;
    
    color:white;
    margin: 0;
    padding: 0;

}
.tools-item h4{

    margin: 0;
    padding: 0;

    padding-top:20px;
    padding-bottom: 11px; 
}


.tools-category-text.icon-1,
.tools-category-text.icon-2,
.tools-category-text.icon-3,
.tools-category-text.icon-4,
.tools-category-text.icon-5{
    position: relative;
}

.tools-category-text.icon-1::after{
    content: "";
    width: 46px;
    height: 65px;
   
    position: absolute;
    top: -31px;
    left: 189px;
    background-image: url(img/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 0 0;  
}
.tools-category-text.icon-2::after{
    content: "";
    width: 76px;
    height: 61px;
   
    position: absolute;
    top: -29px;
    left: 173px;
    background-image: url(img/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 0 0;  
}
.tools-category-text.icon-3::after{
    content: "";
    width: 78px;
    height: 64px;
   
    position: absolute;
    top: -30px;
    left: 167px;
    background-image: url(img/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 0 0;  
}
.tools-category-text.icon-4::after{
    content: "";
    width: 62px;
    height: 74px;
   
    position: absolute;
    top: -36px;
    left: 171px;
    background-image: url(img/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 0 0;  
}
.tools-category-text.icon-5::after{
    content: "";
    width: 78px;
    height: 65px;
   
    position: absolute;
    top: -50px;
    left: 150px;
    background-image: url(img/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 0 0;  
}
.tools-category-button{
    padding:0;
    margin: 0;
    margin-left: 3px;

    width: 135px;

   display: inline-block;

   text-align: center;

   background-color: rgba(0, 0, 0, 0.1);
   
}
.tools-category-text{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 200;
    
    color:white;
    display: block;

    margin: 0;
    padding: 0;
    padding: 11px 22px;
    text-align: center;
}

.tools-category-button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.tools-category-button:active{
    background-color: rgba(0, 0, 0, 0.3);
}

.slider-title-text{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 37px;
    line-height: 35px;
    font-weight: 500;
   
    
    color:white;

    margin: 0;
    padding: 0;
    padding-left: 23px;
    padding-top: 23px;
    padding-bottom: 2px;
  
}

.slider-title-text-p{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 200;

    color:white;
    margin: 0;
    padding: 0;
    padding-left: 24px;
}

.slider-title{
    position:absolute;
    margin: 0;
    padding: 0;
}
.slider{
    position: relative;
}
.button-slider .red-button{
    padding-left: 49px;
    padding-right: 45px;
}
.popular{
    background-color: #f9f5f0;
    display: flex;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 24px;
    margin-bottom: 19px;
   
}


.popular-title{
    color: #32425c;
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 200;
}
.about-size{
    width: 400px;
    margin-bottom: 43px;
    font-weight: 200;
}
.section-about{
    width: 517px;
}
.service-delivery p,
.contacts p,
.section-about p,
.delivery p{
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    color:black;
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 200;
    letter-spacing: 0.05px;
}
.contacts p:first-of-type{
    width: 181px;
}
.section-about p{
   
    padding-bottom: 22px;
}
.trans-company li::before{
    content: "";

    position: absolute;

    width: 25px;
    height: 2px;

    top: 8px;
    left: 0;

   background-image: url(img/red-line.png); 
}
.about-technomart{
    color:black;
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    font-weight: 200;
    margin-bottom: 25px;
}

.delivery p{
    margin: 0;
    padding: 0;
}
.delivery-title{

    margin: 0;
    padding: 0;
    padding-bottom: 24px;

    color:#32425c;

    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 35px;
    line-height: 36px; 
    font-weight: 200;
    letter-spacing: 1px;
}


.index-columns{
display: flex;
justify-content: space-between;
padding-top: 80px;
padding-bottom: 85px;
}

.trans-company{
    margin: 0;
    padding: 0;
margin-bottom: 16px;

    color:black;
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 18px;
    line-height: 20px;
}


.trans-company li{
    padding-bottom: 20px;
    margin: 0;
    position: relative;
    padding-left: 36px;
}

.map{
    padding-top: 6px;
    padding-bottom: 38px;
}


.service-delivery{
    background-color: #f4f8fa;
    padding-top: 67px;
  
}
.s-d-c{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.service-delivery-div{
    width: 240px;
    height: 188px;
    padding: 0;
    margin: 0;
    padding-bottom: 78px;
}
.service-delivery-div-2{
    width: 285px;
    padding-right: 335px;
    padding-bottom: 104px;
    
}
.service-delivery-div-2:nth-child(1){
    background-image: url(img/car.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: 25px;
    /* display: none; */
}
.service-delivery-div-2:nth-child(2){
    background-image: url(img/medal.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: 25px;
    display: none;
}
.service-delivery-div-2:nth-child(3){
    background-image: url(img/credit.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: 25px;
    display: none;
}
.send-button{
    padding-left: 45px;
    padding-right: 45px;
}
.service-delivery-div-2:nth-child(3) p{
    margin-bottom: 31px;
}

.section-service-buttons{
    margin: 0;
    padding: 0;
   
    display: flex;
    flex-direction: column;
}
.section-service-buttons li{
    margin: 0;
    padding: 0;
}
.button-sdc{
    background-color: #32425c;
    color: white;

    border: none;
    padding: 15.4px 23px;
    width: 240px;

    text-align: left;
    font-size: 21px;
    line-height: 30px;
letter-spacing: 0.5px;

    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
}
.first{
    border-top: none;
}
.button-sdc:hover{
    background-color: #293449;
    color: white;
}
.button-sdc:active,
.current{
background-color: white;
color: #32425c;
}


.div-sort,
.filter-line
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 13px;
    line-height: 17px;

    color: #000;
}
.div-sort{
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 20px;
}
.filter-line {
    margin: 0;
    padding: 0;
    padding: 10px 18px;
}

.range{
    margin: 0;
    padding: 0;
    padding: 20px 20px;
    border-radius: 0 0 3px 3px; 
}
.range,
.price-range,
.div-sort,
.filter-line{
    background-color: #f7f3ec;
    
}

.range-line{
   width: 180px;
}
.price-range
{
    width: 95px;
    height: 38px;
    border: none;
    text-align: center;
}
.price-row{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
}
.div-sort a
{
    color: #b2b2b2;
}

.form
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 15px;
    line-height: 20px;

    color: black;

    margin: 0;
    padding: 0;
}
.form-first{
    border-bottom: 1px solid #e5e5e5;
}
.sort-panel{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sort-panel li{
    margin: 0;
    padding: 0;
display: block;
padding: 10px 0;
}
.arrow{
    margin: 0;
    padding: 0;
    display: block;
}
.sort-panel li:nth-child(2){
    padding-left: 71px;
}
.sort-panel li:nth-child(3){
    padding-left: 64px;
    padding-right: 46px;
}


.sort-panel a
{
border-bottom: dotted 1px  #ee3643 ;  
}

.sort-panel a:hover
{
    border-bottom: 1px solid #ee3643 ;
}

.sort-panel a:active
{
    color: #ee3643 ;
}
.sort-panel .sort-panel-current
{
    border:none;
    color: #ee3643;
}

form button
{
    font-size: 13px;
    line-height: 18px;
    font-family: 'PT Sans','Arial', sans-serif;
    border: 1px solid #e5e5e5;
}
.filter legend
{
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;

    color: #000;

    padding: 14px 0;
    display: block;
}


.catalog-list li
{
    border: 1px solid #e5e5e5;
}
.catalog-list li:hover
{
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
}

.catalog-category
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    color: #000;
    margin: 0;
    padding: 0;
}
.catalog-item-price{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
.catalog-item-price b
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;

    text-decoration: line-through;

    color: #999;
}


.button-price
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 17px;
    font-weight: 200;
    

    color: white;
    background-color: #ee3643;
    position: relative;

  
    padding: 10px 37px;
    border-radius: 3px;
    margin-left: 5px;
}

.button-price:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    
    border: 20px solid white;
    border-left-color: #ee3643;
  }

.new-price{
margin-bottom: 30px;
}
  .catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 218px;
    height: 88px;
    padding: 40px 0;
    
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
  }

  .catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;

  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.catalog-item .actions .bookmark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
  }
  .catalog-item .actions {
    display: none;
  }
  
  .catalog-item:hover .actions {
    display: block;
  }

.button-buy
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;

    color: white;
    border-bottom: 1px solid #367315;
    background-color: #63a63e;
}

.button-buy:hover
{
    background-color: #5fbb2d;
}
.button-buy:active
{
    background-color: #518534;
}

.button-save:hover
{
    border: 2px solid #32425c;
}

.button-save:active
{
    color: #d0d2d6;
    border: 2px solid #c1c6ce;
}

.button-save
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;

    color: #32425c;
    border: 2px solid #63a63e;
    background-color: white;
}

.user-navigation a,
.site-navigation a,
.search,
.main-footer,
.footer-navigation a
{
    color: white;
}

.visualy-hidden
{
    display: none;
}
nav{
    margin: 0;
    padding: 0;
   
}
.user-panel a,
.search
{
    font-size: 17px;
    line-height: 18px;
}
.search{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 42px;
    background: none!important;
    background-color: transparent!important;
    border: none;
    color: white;
    padding-left: 46px;
    padding-right: 10px;
    position: relative;
       
   
}

.user-navigation a,
.site-navigation a,
.footer-navigation a
{
    text-align: center;
    vertical-align: middle;

    border: none;
}


.info-nav-title{
    display: flex;
   
    justify-content: space-between;
    margin-bottom: 39px;
       
    min-height: 71px;
}

.info-nav-title h1{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    line-height: 23px;

    color: #ee3643;
}


.info-nav-title div:first-child{
    margin: 0;
    padding: 0;
    padding-top: 13px;
    padding-left: 51px;
    padding-right: 0px;

display: block;

width: 220px;

}

.contact-nav{
    margin: 0;
    padding: 0;
   display: block;
   padding-left: 20px;
   padding-right: 39px;
   padding-top: 11px;
   
}
.contact-nav p{
    margin: 0;
    padding: 0;
  
}

.contact-nav .addres-nav
{
    font-family: 'Cuprum','Arial', sans-serif;
    text-align: center;
    font-size: 13px;
    line-height: 24px;

    color: #32425c;
  
    margin-top: 3px;
    
}


.login-register{
    margin: 0;
    padding: 0;
    
}
.order-button
{
    background-color: #5fbb2d;
   height: auto;
}

.order-button:active
{
    color: #b6c8ae;
    background-color: #518534;
}

.user-panel a:active
{
    color: #a2a4a6;
}


.search:active
{
    color: #e0e1e3;
}


.button-call
{
    font: inherit;
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 21px;
    line-height: 21px;
    
    font-weight: 200;

    text-align: center;
    

    color: #ee3643;
    display: block;

    height: 23px;

    margin: 0;
    padding: 0;
    border: 3px solid white;
    
    padding-right: 47px;
    padding-left: 69px;
    padding-top: 8px;
    padding-bottom: 8px;

    position: relative;
    
}
.button-call::before{
    content: "";

    width: 19px;
    height: 19px;

    position: absolute;
    top: 11px;
    left: 13px;

    background-image: url(img/icon-phone.svg);
    background-repeat: no-repeat;
}


.cart-button-red
{
    background-color: #ee3643;
}

.user-navigation-2{
    min-width: 283px;

    margin: 0;
    padding: 0;
    padding-top: 10px;

    display: flex;
    justify-content: space-between;
    
}
.user-cabinet{
    width: 300px;
}

.login-button
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 21px;
    line-height: 21px;
   font-weight: 200;

    color: black;

    display: block;
    position: relative;
}

.login-button:hover
{
    color: #ee3643;
}
.login-button:active
{
    color: #e7e7e7;
}


.site-navigation li:hover
{
    background-color: #293449;
}

.site-navigation a:active
{
    color: #84888e;
    background-color: #1d2739;
}


.contacts p:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
}
.trans-company-button{
    padding-left: 40px;
    padding-right: 40px; 
}
.contacts-button{
    padding-left: 64px;
    padding-right: 59px;
}
.brand-image {
    display: block;
    margin: auto auto;
}
.popular-button{
    
padding-left: 55px;
padding-right: 55px;
display: inline-block;
margin-top: 25px;
}
.popular-button-2{
    
    padding-left: 68px;
    padding-right: 70px;
    display: inline-block;
    margin-top: 23px;
    }

.popular-button-2{
    padding-left: 70px;
    padding-right: 70px;
    }

.catalog-item-image:active{
    opacity: 0.3;
}

.button-slider{
    position: absolute;
    top: 207px;
    left: 25px;
}

}
.prev::before{
    content: "";

    position: absolute;
    
    top: 114px;
    left: 25px;

    width: 22px;
    height: 40px;;
    
    background-image: url(img/icon-left.svg);
}
.next::before{
    content: "";

    position: absolute;
    
    top: 114px;
    right: 21px;

    width: 22px;
    height: 40px;;
    
    background-image: url(img/icon-right.svg);
}

.button-slider-text{

    display: block;
    padding-left: 49px;
    padding-right: 45px;
    
}
.button-slider-text:hover
{
    background-color: #ca2c37;
}
.button-slider-text:active
{
    background-color: #ba2732;
}
.catalog-index {
    margin-bottom: 20px;
}

.pagination-list a
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 13px;
    line-height: 13px;

    color: black;
    background-color: white;
      padding: 12px 15px;
      border: 1px solid #e5e5e5;
    border-radius: 3px; 
    display:inline-block;
}
.pagination-item-current a
{
    color: white;
    background-color: #ee3643;
}
.pagination-item-next a{
    padding-left: 29px;
    padding-right: 29px;
}

.pagination-list a:hover
{
    border: 1px solid #bdc6ca;
}

.pagination-list a:active
{
    border: 1px solid #ee3643;
}

.about-drill h1
{
    margin: 0;
    padding: 0;
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: black;
    font-weight: 200;
    letter-spacing: 0.2px;
    margin-bottom: 26px;
}

.about-drill p
{
    font-family: 'PT Sans','Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
    font-weight: 200;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1px;
}

.about-drill{
    padding-top: 70px;
    padding-bottom: 68px;
    background-color:#f3f7f9;
    background-repeat: repeat;
}

.first-footer-wrapper
{
    color: white;
    background-color: #32425c;
    
}

.footer-navigation-2 a
{
    font-family: 'Cuprum','Arial', sans-serif;

    color: #ffd180;
    display: block;
    

    padding-right: 58px;
    padding-top: 35px;
    padding-bottom: 30px;
}
.footer-navigation-2 a:nth-child(4){
    padding-right: 0px;
}



.footer-feedback,
.footer-developed
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 16px;
    line-height: 18px;
    
    color: #ffd180;
}


.footer-nav li:hover,
.footer-feedback:hover,
.footer-developed:hover
{
    text-decoration: underline;
}

.footer-feedback:active,
.footer-developed:active
{
    text-decoration: none !important;

    color: #d13644;
}

.footer-nav li:active
{
    text-decoration: none !important;
}


.second-footer
{
    color: white;
    
 
    display: flex;
    justify-content: space-between;
}

.second-footer-wrapper{
    background-color: #293449;
}


.footer-copyright
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 200;

padding: 0;
margin: 0;
width: 227px;

    text-align: left;
    padding-top: 35px;
    
}
.develope {
    padding: 20px 0;
    font-weight: 200;
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 16px;
    line-height: 16px;
}
.devel-2{
    margin-right: 1px;
}
.develope p:nth-of-type(1){
    margin-bottom: 0;
    padding-bottom: 0;
    
}
.develope p:nth-of-type(2){
    margin-top: 5px;
    padding-top: 0;
}
.footer-contacts,
.footer-navigation a
{
    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 200;
   

    text-align: left;

    color: white;
}
.footer-contacts{

    margin: 0;
    padding: 0;
    margin-top: 26px;
    padding-left: 2px;
    
}

.footer-navigation{
    margin: 0;
    padding: 0;
    display: flex;
   width: 550px;
   padding-left:52px;
  
   
}

.footer-navigation-2{
    margin: 0;
    padding: 0;
   display: flex;
   width: 550px;
   padding-left:76px; 
}
.footer-navigation a{
    display: block;
  
}
.footer-navigation li:not(:last-child){
    margin: 0;
    padding: 0;
  
    margin-right: 60px;
}
.footer-nav{
    margin: 0;
    padding: 0;
    padding-top: 39px;
    
}
.social{
    margin: 0;
    padding: 0;
   
    margin-right: 69px;
    margin-left:104px; 
    width: 130px;
}

.footer-navigation-2 a:active
{
    color: #766d65;
}

.footer-navigation a:active
{
    color: #9ea5af;
}

.social-button li
{
    color: #212a3a;
}

.footer-social{
    margin: 0;
    padding: 0;
   display: flex;
   padding-top: 34px;
   justify-content: space-between;
}

.footer-social li{
    display: block;
background-color: #212a3a;

border-radius: 50%; 
height: 40px;
width: 40px;
}
.vk-button{
    width: 25px;
    height: 25px;
    display: block;
    position: relative;
    top: 12.5px;
    left: 7px;
   
}
.facebook-button{
    width: 22px;
    height: 22px;
    position: relative;
    top: 9px;
    left: 14px;
}
.instagram-button{
    width: 21px;
    height: 21px;
    position: relative;
    top: 9.5px;
    left: 9.5px;
}

.footer-social li:hover,
.footer-social li:active
{
    background-color: #ee3643;
}
/* Всплывающая форма */

.modal {
    color: #000000;
    position: fixed;
  
    background-color: #ffffff;
    background-position: 0 0;
    background-repeat: repeat;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  }
  .modal-login section{
      
    padding-left:80px;
    padding-right: 80px;
    padding-top: 46px;
    padding-bottom: 37px;
    
  }
  .div-button-index{
      margin: 0;
      padding: 0;

    padding:37px 80px;

    background-image: url(img/bg-modal.png);
    background-repeat: no-repeat;
  }

  
  .modal-login {
  
    top: 60px;
    left: 50%;
    

    width: 620px;
    margin-left: -310px;
   
    border-top: 8px solid #ff5357;
   
    display: none;
  }
  .modal-close {
    position: absolute;
    top: 9px;
    right: 9px;

    width: 22px;
    height: 22px;
  
    font-size: 0;
  
    border: 0;
  
    cursor: pointer;

    
background: transparent;

  }

  .modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 8px;
  left: -1px;

  width: 26px;
  height: 3px;

  background-color: #ee3643;
}
.modal-close::before {
    transform: rotate(45deg);
  }
  
  .modal-close::after {
    transform: rotate(-45deg);
  }
  .form-message p {
    margin: 0;
    padding: 0;
  }

  .form-message input[type="text"],
  .form-message input[type="email"],
  .form-message textarea{
   
    color: #c3c3c3;
    box-sizing: border-box;
   
  padding: 8px 14px;
  padding-right: 40px;

  border: 2px solid #dee3e4;
  border-radius: 3px;

  font-family:  'PT Sans','Arial', sans-serif;
font-size: 13px;
line-height: 18px;
    font-weight: 200;

    margin-top: 11px;

  }
  .form-message textarea {
    width: 460px;
    resize:none;
  }
  .form-message input[type="text"],
  .form-message input[type="email"]{
    width: 220px;
  }
  .form-message div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; 
  }
  
  .form-message div p{
      display: block;
    
      width: 220px;
  }

  .form-message section div{
      padding-bottom: 22px;
  }
 

  .form-message label{
      margin-bottom: 12px;
  }
  .button-modal{
      width: 460px;  
  }
  .modal-map {
    top: 50%;
    left: 50%;
  
    width: 940px;
    height: 450px;

    margin-top: -280px;
  margin-left: -470px;

 
  background-color: #565656;

  display: none;
  }
  .modal-map p {
    margin: 0;
  }
  .modal-cart {
  
    top: 134px;
    left: 50%;

    width:620px;
    margin-left: -305px;

    border-top: 8px solid #ff5357;
    display: none;

  }
 .modal-cart svg{
     width: 70px;
     height: 76px;;
 }
 .modal-cart div {
     margin: 0;
     padding: 0;
     padding-left: 178px;
    padding-right: 80px;
    padding-top: 47px;
    padding-bottom:74px;

    font-weight: 200;
    font-size: 30px;
    line-height: 30px;

    position: relative;
 }
 .modal-cart div::before{
     content: "";

     width: 66px;
     height: 66px;

     background-image: url(img/form-1.svg);
     background-repeat: no-repeat;
     background-position: 0 0;
 
     position: absolute;
     top: 28px;
     left: 80px;
    }
.modal-cart ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #f1f1f1;
    padding:30px 80px;
}

.modal-cart p{
    margin: 0;
    padding: 0;
}
.button-cart-modal{

    text-align: center;
    vertical-align: middle;

    color: black;
   

    margin: 0;
    padding: 0;
    padding-top:13px;
    padding-bottom:13px;

    border-radius: 3px;
    border: none;
}
.modal-cart li,
.button-cart-modal 
{ 
    display: inline-block;
    width: 220px;

    font-family: 'Cuprum','Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 200;

}
.modal-cart a{
    color: white;
}
